---
import MainLayout from "../layouts/MainLayout.astro";
import PrimaryCTA from "../components/ui/buttons/PrimaryCTA.astro";

const primaryBtn = "Contact us in WhatsApp";
const primaryBtnURL = "https://wa.me/50765156690?text=Hello%20RotaryDev!%20I%20want%20to%20join%20your%20community.";
---

<!--Utilizing MainLayout for the outer layout of the page, and defining meta for SEO purposes-->
<MainLayout title="Join Us | RotaryDev">
  <section class="w-full h-dvh flex items-center justify-center">
    <PrimaryCTA title={primaryBtn} url={primaryBtnURL} />
  </section>
</MainLayout>